* {
    box-sizing: border-box;
    text-align: center;
  }

 body{
    background-image: url(https://images.pexels.com/photos/586063/pexels-photo-586063.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
 } 

h1, p{
    color: white;
    font-family: 'Roboto Mono', monospace;}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.respostaDaData{
  width: 80%;
  background-color: #ffe2c726;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  border: 0px solid black;
}

.respostaDaData{
    font-family: 'Roboto Mono', monospace;
    margin-top: 1%;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    line-height: 1.5;
    text-align: left;
    width: 90%;
} 

button{
    color: rgb(0, 0, 0);
    background-color: #fefefe;
    border: 0px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin: 1% 0 2%;
    padding: 8px 16px;
}

div {
    padding: 5px;
}

#apodImg img {
    max-width: 50%;
    border-radius: 10px;
    border: 1px solid white;
  }